.main-body {
    background-color: #0089de;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    margin: 20px 0px 50px 0px;
}

.about-text-container {
    margin: 0px 0px 0px 0px;
}

.about-title {
    color: #FFFFFF;
    margin: 0px 0px 20px 0px;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.body-list {
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
}

.body-list li {
    color: #FFFFFF;
}

.body-list a {
    text-decoration: none;
    transition: 0.5s;
    color: #ffe600;
}

.self-intro {
    text-align: left;
    margin: 30px 0px 0px 0px;
    font-size: 18px;
}