* {
    margin: 0;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0089de;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 0.15em;
  
    display: inline-block;
    padding: 0px 0px;
    position: relative;
}

.navbar a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    background: #ffe600;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar a:hover:after {
    width: 100%;
}