.passions-body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 0px 250px 0px 250px;
}

.passions-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0px 0px 60px 0px;
}

.passions-sports {
    margin: 0px 0px 60px 0px;
}

.passions-food {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 60px 0px;
}